<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @cosmetic.Product %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @cosmetic.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @cosmetic.website %>
</p>

<%= link_to 'Edit', edit_cosmetic_path(@cosmetic), class: "btn btn-link" %> |
<%= link_to 'Back', cosmetics_path, class: "btn btn-link" %>
